
body{
  background:#0f172a;
  color:white;
}


.custom-card{
  background:#1e293b;
  color:white;
  border-radius:12px;
  transition:0.3s;
}

.custom-card:hover{
  transform:scale(1.05);
}


.drop-box{
  min-height:120px;
  border:2px dashed #38bdf8;
  border-radius:12px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:10px;
  transition:0.3s;
  background:rgba(255,255,255,0.05);
}

.drop-box:hover{
  border-color:#22d3ee;
  transform:scale(1.05);
}
.pt-box{
  background:#1e293b;
  border:1px solid #38bdf8;
  padding:15px;
  border-radius:8px;
  cursor:pointer;
  transition:0.3s;
  font-weight:bold;
}

.pt-box:hover{
  transform:scale(1.1);
  background:#0ea5e9;
  color:black;
}

footer{
  background:#020617;
  padding:20px;
  text-align:center;
  margin-top:40px;
}